.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .25rem .5rem;
    outline: 1px solid azure;
    border-radius: .25rem;
    width: 20rem;
    gap: .5rem;
    color: azure;
    user-select: none;
    cursor: pointer;
    height: 4rem;
}

.createdAt {
    font-size: small;

    font-size: small;
    font-style: italic;
    color: grey;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: bold;
    font-size: small;
    font-style: italic;
}



.status {
    font-size: small;
}

.card-active {
    border-radius: .25rem;
    z-index: 10;
    outline: 5px solid green;
}

.status.pending::after {
    content: " ...";
}

.status.validated {
    color: green;
    font-weight: bold;
}

.status.rejected {
    color: red;
    font-weight: bold;
}