@page "/"
@using blazor.Components.Navigation
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="c-page">
    <div class="absolute-nav">
        <Navbar />
    </div>
    <div class="text-light">
        <h1>Hello, world!</h1>
        Welcome to your new app.
    </div>
</div>
