@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using blazor.Components.Cards.ProgramCard
@using blazor.Components.Navigation
@using blazor.models
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="c-page">
    <div class="absolute-nav">
        <Navbar />
    </div>
    <div class="main-container">
        <div class="navbar-spot"></div>
        <div class="main">
            <div class="program-display">

                @foreach (ProgramModel program in programs)
                {
                    <div class="c-container" @onclick="(()=>HandleProgramClick(program))">
                        <CascadingValue Value="@SelectedProgram">
                            <ProgramCard program="program" />

                        </CascadingValue>
                    </div>
                }
            </div>
            <div class="panel-container">
                <div class="panel">
                    <input @oninput="OnSearchInput" placeholder="Search" type="text">

                    <AuthorizeView Roles="Bounty.Creator">
                        <div @onclick="CreateProgram" class="btn">Create program</div>
                    </AuthorizeView>

                    <AuthorizeView Roles="Bounty.Hunter">
                        @if (SelectedProgram is not null)
                        {
                            <div class="context-card-container">
                                <div class="context-card-top">
                                    <div @onclick="RemoveSelected" class="del">
                                        
                                    </div>
                                </div>
                                <ProgramCard program="@SelectedProgram" />
                                <div @onclick="CreateRapport" class="btn">Report Bug</div>
                            </div>
                        }
                    </AuthorizeView>

                </div>
            </div>
        </div>
    </div>
</div>