@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using blazor.Components.Navigation
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="c-page">
    <div class="absolute-nav">
        <Navbar />
    </div>
    <div class="text-light roles">
        <AuthorizeView>
            <span>AuthorizeView</span>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <span>Admin only</span>
        </AuthorizeView>
        <AuthorizeView Roles="Bounty.Creator">
            <span>Company only</span>
        </AuthorizeView>
        <AuthorizeView Roles="Bounty.Hunter">
            <span>Hunter only</span>
        </AuthorizeView>
    </div>
</div>
