@page "/rapport/create"

@using BlazorMonaco.Editor
@using Microsoft.AspNetCore.Components.Authorization
@using blazor.Components.Cards.ProgramCard
@using blazor.Components.Navigation
@rendermode InteractiveServer

<PageTitle>Report</PageTitle>

<div class="c-page">
    <div class="absolute-nav">
        <Navbar />
    </div>
    <div class="main-container">
        <div class="navbar-spot"></div>
        <div class="main">
            <div class="program-display">

                @if (Id is not null && SelectedProgram is not null)
                {
                    <StandaloneCodeEditor id="rapport-editor" ConstructionOptions="EditorConstructionOptions" />
                }
            </div>
            <div class="panel-container">
                @if (Id is not null && SelectedProgram is not null)
                {
                    <div class="context-card-container">
                        <div class="form-main">

                            <EditForm Model="Model" OnValidSubmit="HandleSubmit">
                                <div class="form-container">

                                    <DataAnnotationsValidator />
                                    <div class="form-element">
                                        <div class="form-input">
                                            <label for="@(() => Model.Title)">Title*</label>
                                            <InputText id="title" @bind-Value="Model.Title" class="input" />
                                        </div>
                                        <div class="form-input-error">
                                            <ValidationMessage For="@(() => Model.Title)" />
                                        </div>
                                    </div>
                                    <ProgramCard program="@SelectedProgram" />

                                    <div class="panel-bottom">

                                        <button type="submit" class="btn">
                                            Submit
                                        </button>

                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .monaco-editor-container {
        width: 100%;
    }
</style>