<div class="card-container">
    <div class="logo">
        <div>
            <img src="@Logo" alt="Logo">

            <span class="title">@program.Title</span>
        </div>
        <div>
            <span class="reward">@program.Reward</span>
        </div>
    </div>
    <div class="description">
        <span>@program.Description</span>
    </div>

</div>