@page "/issues"
@using BlazorMonaco.Editor
@using blazor.Components.Cards.ProgramCard
@using blazor.Components.Cards.ReportCard
@using blazor.models
@rendermode InteractiveServer

<PageTitle>Report</PageTitle>

<div class="c-page">
    <div class="absolute-nav">
        <Navbar />
    </div>
    <div class="main-container">
        <div class="navbar-spot"></div>
        <div class="main">
            <div class="report-display">
                <div class="report-main">
                    @foreach (ReportModel report in reports)
                    {
                        <div class="c-container" @onclick="(()=>HandleReportClick(report))">
                            <CascadingValue Value="@SelectedReport">
                                <ReportCard IsIssue=true Report="@report" />
                            </CascadingValue>
                        </div>
                    }
                </div>

            </div>
            <div class="editor-display">
                @if (SelectedProgram is not null)
                {
                    <StandaloneCodeEditor id="rapport-editor" ConstructionOptions="EditorConstructionOptions" />
                }
            </div>
            <div class="panel-container">
                @if (SelectedProgram is not null)
                {
                    <div class="context-card-container">
                        <div class="context-card-top">
                            <div @onclick="RemoveSelected" class="del">

                            </div>
                        </div>
                        <ProgramCard program="@SelectedProgram" />
                        <div class="panel-resume">



                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .monaco-editor-container {
        width: 100%;
        height: calc(100vh - 5rem);
    }
</style>
